@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700|Roboto:300,400,500,700,900");
.allListing {
  background: #ffffff;
  color: #ffffff;
  min-height: 100vh; }
  .allListing .listingContainerParent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0; }
    .allListing .listingContainerParent .blockHeading {
      text-align: right;
      margin-bottom: 15px;
      margin-right: 10px; }
      .allListing .listingContainerParent .blockHeading header {
        display: inline-block; }
        .allListing .listingContainerParent .blockHeading header h2 {
          margin: 0 10px 0 25px;
          color: #000000;
          font-size: 2.0rem;
          font-family: "Roboto Mono", serif;
          letter-spacing: 2px;
          text-transform: none;
          border-right: 1px solid #00FFC7;
          padding-right: 10px; }
          .allListing .listingContainerParent .blockHeading header h2 span {
            color: #738290;
            font-weight: 500;
            font-size: 0.9rem;
            font-family: "Roboto", sans-serif;
            letter-spacing: 5px;
            margin-top: 6px;
            text-transform: uppercase;
            display: block; }
      .allListing .listingContainerParent .blockHeading .defaultButton {
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
        letter-spacing: 2px;
        color: #738290; }
      .allListing .listingContainerParent .blockHeading header, .allListing .listingContainerParent .blockHeading .defaultButton {
        vertical-align: middle;
        margin-top: -4px; }
    .allListing .listingContainerParent .row {
      margin: 0; }
    .allListing .listingContainerParent .movieListing {
      padding: 10px;
      margin-bottom: 10px; }
      .allListing .listingContainerParent .movieListing .borderBoxContainer {
        border-radius: 3px;
        overflow: hidden; }
        .allListing .listingContainerParent .movieListing .borderBoxContainer .imageContainer {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat; }
        .allListing .listingContainerParent .movieListing .borderBoxContainer .nameContainer {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 10px 8px;
          background: rgba(0, 0, 0, 0.65); }
          .allListing .listingContainerParent .movieListing .borderBoxContainer .nameContainer p {
            margin: 0;
            font-family: "Roboto Mono", serif;
            font-weight: 700;
            font-size: 1.2rem;
            text-align: center;
            color: #ffffff; }
      .allListing .listingContainerParent .movieListing .footerContainer .metaList {
        text-align: right; }
        .allListing .listingContainerParent .movieListing .footerContainer .metaList li {
          vertical-align: middle;
          margin-top: 4px;
          display: inline-block; }
        .allListing .listingContainerParent .movieListing .footerContainer .metaList .releaseDate {
          font-size: 0.9rem;
          background: #ffffff;
          color: #000000;
          padding: 5px;
          border-radius: 3px;
          margin-right: 5px;
          -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
          letter-spacing: 2px; }
          .allListing .listingContainerParent .movieListing .footerContainer .metaList .releaseDate span {
            font-weight: 700; }
        .allListing .listingContainerParent .movieListing .footerContainer .metaList .viewDetails {
          background: #000000;
          padding: 5px;
          border: 1px solid rgba(255, 255, 255, 0.25);
          border-radius: 3px; }
          .allListing .listingContainerParent .movieListing .footerContainer .metaList .viewDetails img {
            max-width: 15px; }

@media only screen and (min-width: 768px) {
  .allListing .listingContainerParent {
    max-width: 768px;
    margin: 0 auto; }
    .allListing .listingContainerParent .movieListing .borderBoxContainer .imageContainer {
      border: 1px solid transparent;
      border-left-color: rgba(0, 0, 0, 0.05);
      border-bottom-color: rgba(0, 0, 0, 0.05);
      padding-left: 8px;
      overflow: hidden; }
      .allListing .listingContainerParent .movieListing .borderBoxContainer .imageContainer img {
        margin-bottom: 8px;
        -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 3px; }
      .allListing .listingContainerParent .movieListing .borderBoxContainer .imageContainer .nameContainer {
        bottom: 8px;
        left: 8px;
        width: calc(100% - 8px); } }

@media only screen and (min-width: 991px) {
  .allListing .listingContainerParent {
    max-width: 991px; } }

@media only screen and (min-width: 1200px) {
  .allListing .listingContainerParent {
    max-width: 1200px; } }
